@using Conway.Core.Model;
@using System.Collections.ObjectModel;

@model dynamic


@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.index.css" />

<body>
    <div class="rows">
        <div class="row1">
            <div class="meubel-links">
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>

                <div class="beneden">81</div>
                <div class="beneden">82</div>
                <div class="beneden">83</div>
                <div class="beneden">84</div>
                <div class="beneden">85</div>
                <div class="beneden">86</div>
                <div class="beneden">87</div>
                <div class="beneden">88</div>
                <div class="beneden">89</div>
                <div class="beneden">90</div>
            </div>

            <div class="meubel-midden">
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>

                <div class="beneden">61</div>
                <div class="beneden">62</div>
                <div class="beneden">63</div>
                <div class="beneden">64</div>
                <div class="beneden">65</div>
                <div class="beneden">66</div>
                <div class="beneden">67</div>
                <div class="beneden">68</div>
                <div class="beneden">69</div>
                <div class="beneden">70</div>
                <div class="beneden">71</div>
                <div class="beneden">72</div>
                <div class="beneden">73</div>
                <div class="beneden">74</div>
                <div class="beneden">75</div>
                <div class="beneden">76</div>
                <div class="beneden">77</div>
                <div class="beneden">78</div>
                <div class="beneden">79</div>
                <div class="beneden">80</div>

                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>

                <div class="beneden">41</div>
                <div class="beneden">42</div>
                <div class="beneden">43</div>
                <div class="beneden">44</div>
                <div class="beneden">45</div>
                <div class="beneden">46</div>
                <div class="beneden">47</div>
                <div class="beneden">48</div>
                <div class="beneden">49</div>
                <div class="beneden">50</div>
                <div class="beneden">51</div>
                <div class="beneden">52</div>
                <div class="beneden">53</div>
                <div class="beneden">54</div>
                <div class="beneden">55</div>
                <div class="beneden">56</div>
                <div class="beneden">57</div>
                <div class="beneden">58</div>
                <div class="beneden">59</div>
                <div class="beneden">60</div>

                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>

                <div class="beneden">21</div>
                <div class="beneden">22</div>
                <div class="beneden">23</div>
                <div class="beneden">24</div>
                <div class="beneden">25</div>
                <div class="beneden">26</div>
                <div class="beneden">27</div>
                <div class="beneden">28</div>
                <div class="beneden">29</div>
                <div class="beneden">30</div>
                <div class="beneden">31</div>
                <div class="beneden">32</div>
                <div class="beneden">33</div>
                <div class="beneden">34</div>
                <div class="beneden">35</div>
                <div class="beneden">36</div>
                <div class="beneden">37</div>
                <div class="beneden">38</div>
                <div class="beneden">39</div>
                <div class="beneden">40</div>
            </div>

            <div class="meubel-rechts">
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>

                <div class="beneden">11</div>
                <div class="beneden">12</div>
                <div class="beneden">13</div>
                <div class="beneden">14</div>
                <div class="beneden">15</div>
                <div class="beneden">16</div>
                <div class="beneden">17</div>
                <div class="beneden">18</div>
                <div class="beneden">19</div>
                <div class="beneden">20</div>

                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>
                <div class="boven"></div>

                <div class="beneden">1</div>
                <div class="beneden">2</div>
                <div class="beneden">3</div>
                <div class="beneden">4</div>
                <div class="beneden">5</div>
                <div class="beneden">6</div>
                <div class="beneden">7</div>
                <div class="beneden">8</div>
                <div class="beneden">9</div>
                <div class="beneden">10</div>
            </div>

            <div class="info-kolom">

            </div>
        </div>

        <div class="row2">
            <div class="import-export">
                <button class="btn" id="btn-import">Import</button>
                <button class="btn" id="btn-export">Export</button>
            </div>

            <div class="fabrikanten">
                <form>

                    <button class="btn"
                            name="button"
                            id="btn-BAT_C"
                            value="BAT_C"
                            asp-action="Index">
                        BAT_C
                    </button>

                    <button class="btn"
                            name="button"
                            id="btn-BAT_T"
                            value="BAT_T"
                            asp-action="Index">
                        BAT_T
                    </button>

                    <button class="btn" id="btn-ITB_C">ITB_C</button>
                    <button class="btn" id="btn-ITB_T">ITB_T</button>
                    <button class="btn" id="btn-JTI_C">JTI_C</button>
                    <button class="btn" id="btn-JTI_T">JTI_T</button>
                    <button class="btn" id="btn-PMI_C">PMI_C</button>


                </form>
            </div>
        </div>

        <div class="row3">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped table-bordered table-sm sortTable"
                       cellspacing="0"
                       width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Naam</th>
                            <th>Activatie</th>
                            <th>Fabrikant</th>
                            <th>Hoogte</th>
                            <th>Breedte</th>
                            <th>Diepte</th>
                            <th>Inhoud</th>
                            <th>Eancode</th>
                            <th>Prijs</th>
                        </tr>
                    </thead>
                    <tbody class="tabel-prdocuten-body">
                        @foreach (var item in Model.Product)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Naam</td>
                                <td>@item.Activatie</td>
                                <td>@item.Fabrikant</td>
                                <td>@item.Hoogte</td>
                                <td>@item.Breedte</td>
                                <td>@item.Diepte</td>
                                <td>@item.Inhoud</td>
                                <td>@item.Eancode</td>
                                <td>@item.Prijs</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped table-bordered table-sm sortTable"
                       cellspacing="0"
                       width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Naam</th>
                            <th>Activatie</th>
                            <th>Fabrikant</th>
                            <th>Hoogte</th>
                            <th>Breedte</th>
                            <th>Diepte</th>
                            <th>Inhoud</th>
                            <th>Eancode</th>
                            <th>Prijs</th>
                        </tr>
                    </thead>
                    <tbody class="tabel-prdocuten-body">
                        @foreach (var item in Model.Product)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Naam</td>
                                <td>@item.Activatie</td>
                                <td>@item.Fabrikant</td>
                                <td>@item.Hoogte</td>
                                <td>@item.Breedte</td>
                                <td>@item.Diepte</td>
                                <td>@item.Inhoud</td>
                                <td>@item.Eancode</td>
                                <td>@item.Prijs</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped table-bordered table-sm sortTable"
                       cellspacing="0"
                       width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Ref</th>
                            <th>Product</th>
                            <th>EanCode</th>
                            <th>Fabrikant</th>
                            <th>Size</th>
                            <th>Nielsen1</th>
                            <th>Nielsen2</th>
                            <th>Nielsen3</th>
                            <th>Nielsen4</th>
                            <th>Groupe</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody class="tabel-fabrikanten-body">
                        @foreach (var item in Model.naamFabrikant)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Ref</td>
                                <td>@item.Product</td>
                                <td>@item.EanCode</td>
                                <td>@item.Fabrikant</td>
                                <td>@item.Size</td>
                                <td>@item.Nielsen1</td>
                                <td>@item.Nielsen2</td>
                                <td>@item.Nielsen3</td>
                                <td>@item.Nielsen4</td>
                                <td>@item.Groupe</td>
                                <td>@item.Color</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


<script src="~/js/HomeIndex.js"></script>
